<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device, initial-scale=1">
        <title>Plantilla simple</title>
    </head>
    <body>
        <h1>Hola Mundo</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi placeat cupiditate maxime blanditiis fugit earum? Eius similique culpa quas minus! Incidunt commodi ea eos iusto dolorum nesciunt tenetur quas.</p>
        <a href="#">Soy un enlace</a>
    </body>
</html>
